<div class="business-model">
  <div class="d-flex align-items-center flex-column flex-md-row justify-content-start">
    <div class="hexagon-container">
      <div class="hexagon">
        <i class="bi bi-hexagon-fill">
          <div class="hexagon-content">
            <i class="bi bi-bag-check-fill"></i>
          </div>
        </i>
      </div>
    </div>

    <h2 class="title">Turn-Key Cargo Solution:</h2>
  </div>

  <div class="container-model mt-2">
    <p>
      Somos una empresa especializada en carga aérea y 
      ofrecemos un modelo de negocio para que las aerolíneas 
      de pasajeros de bajo costo puedan tener una unidad 
      de negocios de carga aérea sin tener que invertir ni 
      agregar complejidad a su operación.
    </p>
    <p class="my-3">El modelo que ofrecemos:</p>

    <p>Nosotros hacemos la administración completa del 
      negocio de carga de la aerolínea y no se debe 
      preocupar de:
    </p>

    <ul style="list-style: auto;" class="my-3">
      <li>La venta - optimización de ingresos.</li>
      <li>La logística de asistencia en tierra.</li>
      <li>Inversión en plataforma tecnológica de carga.</li>
      <li>La operación - optimización del manejo de la carga.</li>
      <li>La administración - recaudo y facturación - parte legal - contratos - cumplimiento regulatorio.</li>
    </ul>

    <!-- <div class="map">
      <img src="../img/map-businessModel.png" alt="">
    </div> -->
  </div>
</div>