<div class="card-question @@open" id="@@id">
  <div class="header-card d-flex">
    <p class="question-title p-3">
      Lorem ipsum dolor sit amet, consectetuer
    </p>
    <button onclick="toggleResquest('@@toggleIcon')">
      <i class="bi bi-airplane-engines @@rotate"></i>
    </button>
  </div>

  <div class="body-card">
    <p class="p-3">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
      sed diam nonummy tincidunt ut laoreet dolore magna aliquam.
    </p>
  </div>
</div>