<div class="d-flex align-items-center flex-column flex-md-row">
  <div class="hexagon-container">
    <div class="hexagon">
      <i class="bi bi-hexagon-fill">
        <div class="hexagon-content">
          <i class="bi bi-truck"></i>
        </div>
      </i>
    </div>
  </div>

  <h2 class="title mb-3 mb-md-0 text-center" style="max-width: 580px;">Soluciones Tecnológicas hechas a la medida de tu empresa:</h2>
</div>

<ul class="tech-list mt-md-3">
  <li class="d-flex">
    <i class="bi bi-check-lg"></i>
    <p class="ps-3">
      Servicios de tracking de equipos de asistencia en tierra en aeropuertos (GSE Tracking)
    </p>
  </li>
  <li class="d-flex">
    <i class="bi bi-check-lg"></i>
    <p class="ps-3">
      Servicios de integración tecnológica para reservas de carga.
    </p>
  </li>
</ul>