<ul class="d-lg-flex cargo-card justify-content-center mb-0">
  <li class="d-flex align-items-center flex-column flex-md-row justify-content-center">
    <div class="hexagon-container">
      <div class="hexagon">
        <i class="bi bi-hexagon-fill">
          <div class="hexagon-content">
            <i class="bi bi-airplane-engines"></i>
          </div>
        </i>
      </div>
    </div>

    <div class="cargo-data d-flex flex-column ms-3 justify-content-center">
      <h4 data-text="cargo" class="my-md-3 fw-bold fs-5 text-center text-md-start">
        Mercados y aeropuertos actualmente operados:
      </h4>
    </div>
  </li>
</ul>

<div class="container-maps d-flex flex-column align-items-start justify-content-center">
  <div class="map north-america">
    <p style="font-weight: 700;" class="my-3">Norte América: </p>
    <!-- <ul class="ul-list">
      <li>Los Ángeles, California - Aeropuerto Internacional de Los Ángeles - LAX</li>
      <li>Las Vegas, Nevada - Aeropuerto Internacional McCarran - LAS</li>
      <li>San Francisco, California - Aeropuerto Internacional de San Francisco - SFO</li>
      <li>New Jersey, Newark - Aeropuerto Internacional Libertad de Newark - EWR</li>
      <li>Tampa, Florida - Aeropuerto Internacional de Tampa - TPA</li>
      <li>Orlando, Florida - Aeropuerto Internacional de Orlando - MCO</li>
      <li>Fort Lauderdale, Florida - Aeropuerto Internacional de Fort Lauderdale - Hollywood - FLL</li>
      <li>Atlanta, Georgia - Aeropuerto Internacional de Atlanta - ATL (Temporalmente suspendida)</li>
      <li>Boston, Massachusetts- Aeropuerto Internacional Logan - BOS (Temporalmente suspendida)</li>
      <li>New York, New York - Aeropuerto Internacional John F. Kennedy JFK (Temporalmente suspendida)</li>
      <li>Miami, Florida - Aeropuerto Internacional de Miami - MIA</li>
    </ul> -->
    <div class="container-img-services" id="container-map-1">
      <img src="./img/mapas-01.svg" alt="map-1" id="imagen-map-1">
      <div class="loupe" id="loupe-1"></div>
    </div>
  </div>
  <div class="map south-america">
    <p style="font-weight: 700;" class="my-3">Centro América y Sur América: </p>
    <!-- <ul class="ul-list">
      <li>Santo Domingo, República Dominicana - Aeropuerto Internacional Las Américas - SDQ</li>
      <li>Santo Domingo, República Dominicana - Aeropuerto Internacional Las Américas - SDQ</li>
      <li>San Juan de Puerto Rico, Puerto Rico - Aeropuerto Internacional Luis Muñoz Marín - SJU</li>
      <li>Quito, Ecuador - Aeropuerto Internacional Mariscal Sucre - UIO (Apertura próxima)</li>
      <li>Guayaquil, Ecuador - Aeropuerto Internacional José Joaquín Olmedo - QYE (Apertura próxima)</li>
      <li>Lima, Perú - Aeropuerto Internacional Jorge Chávez - LIM (Apertura próxima)</li>
      <li>San José, Costa Rica - Aeropuerto Internacional Juan Santamaría - SJO (Apertura próxima)</li>
    </ul> -->

    <div class="container-img-services" id="container-map-2">
      <img src="./img/mapas-02.svg" alt="map-2" id="imagen-map-2">
      <div class="loupe" id="loupe-2"></div>
    </div>
  </div>
</div>