<ul class="d-lg-flex cargo-card">
  <li class="d-flex align-items-center align-items-md-start flex-column flex-md-row justify-content-center">
    <div class="hexagon-container">
      <div class="hexagon">
        <i class="bi bi-hexagon-fill">
          <div class="hexagon-content">
            <i class="bi bi-check-lg"></i>
          </div>
        </i>
      </div>
    </div>

    <div class="cargo-data d-flex flex-column ms-3 justify-content-center">
      <h4 data-text="cargo" class="my-md-3 mb-3 fw-bold fs-5 text-center text-md-start">Carga aceptada</h4>
      <div class="containter-data">
        <p class="mb-2">Carga general y carga perecedera, tal como:</p>
        <ul class="">
          <li>Comida de mar</li>
          <li>frutas</li>
          <li>Vegetales</li>
          <li>Plantas</li>
          <li>Flores frescas</li>
          <li>Pescado vivo</li>
        </ul>
      </div>

    </div>
  </li>
</ul>