<ul class="d-lg-flex cargo-card">
  <li class="d-flex align-items-center align-items-md-start flex-column flex-md-row justify-content-center">
    <div class="hexagon-container">
      <div class="hexagon">
        <i class="bi bi-hexagon-fill">
          <div class="hexagon-content">
            <i class="bi bi-x"></i>
          </div>
        </i>
      </div>
    </div>

    <div class="cargo-data d-flex flex-column ms-3 justify-content-center">
      <h4 data-text="cargo" class="my-md-3 mb-3 fw-bold fs-5 text-center text-md-start">Carga no aceptada</h4>
      <div class="containter-data">
        <ul class="">
          <li>Mercancías / Materiales Peligrosos en ninguna cantidad, incluso si son cantidades limitadas o aceptables.</li>
          <li>Cualquier caja con etiqueta de peligro, independientemente del contenido.</li>
          <li>Equipo de motor que funcione con combustible (motosierras,
            generadores, cortadoras de césped, lavadoras a presión,
            sopladoras, etc).</li>
          <li>Carga manifestada como “efectos personales” o “enseres
            domésticos).</li>
          <li>Carga de menos de 16 oz</li>
          <li>OAL AOG (Tendered directly from OAL).</li>
          <li>Carga envuelta en plástico retráctil, anillado o paletizada o ULD.</li>
          <li>Artículos de alto valor ($15,000 o más).</li>
          <li>Carga de alto riesgo / riesgo Elevado según lo definido por el
            AOSSP, con excepción de los envíos de respuesta a
            emergencias federales.</li>
          <li>Artículos que no esté debidamente etiquetada.</li>
          <li>Artículos no aptos para el transporte (Ejemplo: Cajas con fijas,
            embalaje endeble, etc).</li>
          <li>Carga aceptada de un operador de aeronaves de carga o de un
            transportista aéreo de carga.</li>
          <li>Baterías de litio de cualquier tipo o tamaño.</li>
        </ul>
      </div>

    </div>
  </li>
</ul>