<ul class="d-lg-flex cargo-card">
  <li class="d-flex align-items-center align-items-md-start flex-column flex-md-row justify-content-center">
    <div class="hexagon-container">
      <div class="hexagon">
        <i class="bi bi-hexagon-fill">
          <div class="hexagon-content">
            <i class="bi bi-box-seam"></i>
          </div>
        </i>
      </div>
    </div>

    <div class="cargo-data d-flex flex-column ms-3 justify-content-center">
      <h4 data-text="cargo" class="my-md-3 mb-3 fw-bold fs-5 text-center text-md-start">
        Requerimientos para el transporte de carga por JetBlue:
      </h4>
      <div class="containter-data">
        <ul class="">
          <li>Dimensiones máximas: 57x68x46 pulgadas</li>
          <li>Máximo peso permitido por vuelo: 2,000 libras</li>
          <li>Máximo peso permitido por pieza (Comida de Mar): 100 libras</li>
          <li>Máximo peso permitido por pieza: 300 libras</li>
          <li>Tiempo de entrega de la carga: 4 horas antes de la salida programada del vuelo</li>
          <li>Máximo valor declarado por guía aérea: USD$15,000.00</li>
        </ul>
      </div>

    </div>
  </li>
</ul>