@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');
@import "node_modules/bootstrap/scss/bootstrap";

@import './header.scss';
@import './hero.scss';
@import './cargo-cards.scss';
@import './footer.scss';

@import'./team.scss';
@import './news.scss';
@import'./allies.scss';

@import'./about.scss';

@import'./ourServices.scss';

@import'./cardQuestions.scss';
@import './hexagon.scss';


p, h1, h2, h3, h4, h5{
    margin: 0;
}
*{
    font-family: 'Montserrat', sans-serif !important;
}
body {
    .logo{
        img{
            // width: 180px;
            height: 59px;
            object-fit: contain;
        }
    }
    
    main{
        padding-top: 151px;
    }
    .logo{
        img{
            // width: 200px;
            // height: 53px;
            background-color: white;
            padding: 5px;
        }
    }
    .maxWidth{
        // max-width: 1420px;
        max-width: 1300px;
        margin: 0 auto;
    }
    p.border-small{
        width: 50px;
        height: 2px;
        border: 2px solid #2B40A4;
        margin: 2rem 0;
      }
    
}

@media screen and(min-width:992px){
    body{
        main{
            padding-top: 141px
        }
    }
}