<section class="about maxWidth">
  <div class="row">
    <div class="about-container col-12 col-lg-6">
      <h3 class="mt-5">QUIÉNES SOMOS</h3>
      <p class="border-small"></p>
  
      <div class="about-text">
        <p>
          Aeronex Cargo es una compañía con sede en Miami y dirigida 
          por el líder de la industria de aviación Patricio Sepúlveda, 
          Ex Presidente de Lan Airlines y Ex Vicepresidente regional 
          de IATA, quien se ha asociado con otros expertos y 
          líderes del sector para la creación de un <strong>modelo de 
          negocio de carga denominado “Solución de Carga - Llave 
          en Mano” </strong> donde se maneja toda la logística requerida 
          para transportar carga por vía aérea, marítima o terrestre.
        </p>
        <br>
        <p>
          Contamos con la <strong> certificación de calidad ISO 9001:2015</strong>, 
          la cual demuestra nuestro compromiso con la estandarización 
          de todos nuestros procesos y la mejora continua de los mismos.
        </p>
      </div>
  
      <div class="about-images">
        <div class="img-row d-flex justify-content-between align-items-center mb-3">
          <img class="img-2" src="./img/logo-veritas.jpeg" alt="logo-bereau">
          <img class="img-3" src="./img/about-image-3.png" alt="air">
        </div>
        <img class="img-1" src="./img/about-image-1.webp" alt="air">
      </div>
    </div>
  
    <div class="questions-container col-12 col-lg-6">
      <h3 class="mt-5">PREGUNTAS FRECUENTES</h3>
      <p class="border-small"></p>
      <div class="cards" id="cards-question-container">
        <!-- cards questions -->
      </div>
    </div>
  </div>

  <div class="our-history row mt-3">
    <div class="history col-12 col-lg-9">
      <h3 class="mt-5">NUENTRA HISTORIA</h3>
      <p class="border-small"></p>
  
      <P>
        Aeronex Cargo fue creada en junio del 2019 por Patricio Sepúlveda, como fundador
        y Camila Restrepo como co-fundadora. Quienes se asociaron con otros líderes de la 
        industria para traer una solución integral para las aerolíneas comerciales de 
        pasajeros que necesitan generar ingresos adicionales a través de la implementación 
        de una unidad de carga totalmente externalizada bajo el modelo que se ha 
        denominado “Turn-Key Cargo Solution”.
      </P>
  
      <p class="mt-4">
        Esta compañía surge de la identificación por parte de Patricio como asesor externo
        de JetBlue, de una necesidad puntual que tenía ésta aerolínea dada su decisión de 
        cerrar la unidad de negocios de carga en el año 2015. En este momento Patricio 
        propone a JetBlue un plan piloto para reabrir y mantener la operación carguera 
        de la aerolínea sin que tuvieran que invertir recursos financieros, humanos y 
        sobre todo sin que se viera afectada su operación. Generando así, una rentabilidad 
        relevante para la aerolínea. 
        <br>
        <p class="mt-4">
          Luego de finalizar el plan piloto con éxito, nace de manera oficial Aeronex 
          Cargo, junto con la suscripción de un contrato a largo plazo con JetBlue para 
          el manejo y administración exclusivo de su unidad de carga.
        </p>
      </p>
    </div>

    <div class="history-graphic col-12 col-lg-3">
      <!-- <img class="d-lg-none" src="./img/graphic-mobile.png" alt="">
      <img class="d-none d-lg-block" src="./img/graphic-desk.png" alt=""> -->
      
      <div class="relevantData">
        <!-- <div class="container-1"> -->
          <div class="container-data">
            <div class="number">
              <p>268</p>
            </div>
            <div class="text">
              <p>Clientes</p>
            </div>
          </div>
  
          <div class="container-data">
            <div class="number">
              <p>27.000</p>
            </div>
            <div class="text">
              <p>Número de vuelos atendidos</p>
            </div>
          </div>
        <!-- </div> -->

        <div class="container-data">
          <div class="number">
            <p>56 millones de toneladas</p>
          </div>
          <div class="text">
            <p>Ton/KM Transportadas</p>
          </div>
        </div>

        <div class="container-data">
          <div class="number">
            <p>0</p>
          </div>
          <div class="text">
            <p>Número Incidentes (vuelos atrasados)</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>