<div  class="cargo-cards">

  <p 
    class="mb-3 text-center mx-3 mx-lg-auto mt-5" 
    style="font-weight: 600;
          font-size: 18px;
          max-width: 800px;">
    Somos una compañía orientada a servir con soluciones inteligentes y de bajo costo a empresas aéreas y freight forwards.
  </p>
  <div class="cargo-container d-flex d-lg-block px-2">
    <div class="cards maxWidth d-lg-flex flex-column pb-0">
      <div class="cargo" style="width: 100%;">
        <ul class="d-lg-flex px-1" id="box-container">
          <li class="box-active">
            
            <div class="hexagon-container">
              <div class="hexagon">
                <i class="bi bi-hexagon-fill">
                  <div class="hexagon-content">
                    <i class="bi bi-check-lg"></i>
                  </div>
                </i>
              </div>
            </div>
  
            <div class="cargo-data d-flex justify-content-center align-items-center">
              <h4 data-text="cargo" class="d-none d-lg-block">Carga aceptada</h4>
            </div>
          </li>
          <li>
            <div class="hexagon-container">
              <div class="hexagon">
                <i class="bi bi-hexagon-fill">
                  <div class="hexagon-content">
                    <i class="bi bi-x"></i>
                  </div>
                </i>
              </div>
            </div>
  
            <div class="cargo-data d-flex justify-content-center align-items-center">
              <h4 data-text="no-cargo" class="d-none d-lg-block">Carga no aceptada</h4>
            </div>
          </li>
          <li>
            <div class="hexagon-container">
              <div class="hexagon">
                <i class="bi bi-hexagon-fill">
                  <div class="hexagon-content">
                    <i class="bi bi-airplane-engines"></i>
                  </div>
                </i>
              </div>
            </div>
  
            <div class="cargo-data d-flex justify-content-center align-items-center">
              <h4 data-text="list-airports" class="d-none d-lg-block">Mercados y aeropuertos actualmente operados</h4>
            </div>
          </li>
          <li>
            <div class="hexagon-container">
              <div class="hexagon">
                <i class="bi bi-hexagon-fill">
                  <div class="hexagon-content">
                    <i class="bi bi-box-seam"></i>
                  </div>
                </i>
              </div>
            </div>
  
            <div class="cargo-data d-flex justify-content-center align-items-center">
              <h4 data-text="jetBlue" class="d-none d-lg-block">Requerimientos para el transporte de carga por JetBlue:</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="maxWidth box-cargo-data p-3" id="box-cargo-data">
      <p class="fw-bold mb-3 d-lg-none">Carga aceptada:</p>
      <p class="mb-3">Carga general y carga perecedera, tal como:</p>
      <ul class="ul-services">
        <li>Comida de mar</li>
        <li>frutas</li>
        <li>Vegetales</li>
        <li>Plantas</li>
        <li>Flores frescas</li>
        <li>Pescado vivo</li>
      </ul>
    </div>
  </div>

  <section class="bookings text-center p-3 px-lg-5 py-5 d-lg-flex justify-content-between align-items-center">
    <div class="maxWidth w-100 d-lg-flex align-items-center justify-content-center">
      <p>
        Lorem ipsum dolor sit amet, consect
        etuer adipiscing elit, sed diam n
        onummy nibh euismod 
      </p>
    </div>

  </section>

 

</div>