<div class="hero">
  <div class="content static">
    <div class="container-slider">
      <!-- <div class="slider">
        <div class="logos">
          <p>MODELO DE NEGOCIO ÚNICO</p>
          <p>EXPERIENCIA</p>
          <p class="">INNOVACIÓN</p>
          <p class="">RENTABILIDAD</p>
        </div>
        <div class="logos d-none d-lg-inline-block">
          <p class="">MODELO DE NEGOCIO ÚNICO</p>
          <p class="">EXPERIENCIA</p>
          <p>INNOVACIÓN</p>
          <p>RENTABILIDAD</p>
        </div>
      </div> -->
      <div class="static-sentence">
        <p>
          Somos la solución para las aerolineas 
          que quieran maximizar sus ingresos.
        </p>
      </div>
    </div>
  </div>
  
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- <div class="carousel-item active">
        <img src="./img/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./img/4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./img/5.jpg" class="d-block w-100" alt="...">
      </div> -->
      <div class="carousel-item active">
        <img src="./img/6.jpg" class="d-block w-100" alt="...">
        <p>hola</p>
      </div>
      <!-- <div class="carousel-item">
        <img src="./img/7.jpg" class="d-block w-100" alt="...">
      </div> -->
    </div>
  </div>
</div>