<section class="d-none d-lg-block nav-desktop py-2">
  <nav class="maxWidth">
    <ul class="ul-desk">

      <li>
        <a href="/" data-nav="home">Inicio</a>
      </li>

      <li>
        <a data-nav="about">Quiénes Somos</a>
      </li>

      <li>
        <a href="../OurServices.html" data-nav="services">Nuestros Servicios</a>
      </li>

      <li>
        <a data-nav="OurTeam">Nuestro Equipo</a>
      </li>

      <li>
        <a data-nav="contact">Contáctenos</a>
      </li>

      <li>
        <a data-nav="AviationNews">Noticias de Aviación</a>
      </li>

      
      <!-- <div class="dropdown" id="drop-main">
        <a class=" dropdown-toggle drop-a1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Noticias de Aviación
        </a>
        <ul style="width: 100%;" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item drop-a2" href="https://news.flylinkers.com/" target="_blank" rel=”noopener noreferrer”>Flylinkers news</a></li>
          <li><a class="dropdown-item drop-a2" href="https://aeronexllc.com" target="_blank" rel=”noopener noreferrer”>Aeronex LLC</a></li>
        </ul>
      </div> -->

      

      <li>
        <a href="#"><p>🇺🇸</p></a>
      </li>

    </ul>
  </nav>
</section>