<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <i class="bi bi-list"></i>
</button>

<div class="mobile-menu collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
  <ul class="navbar-nav text-center">
    <li class="nav-item">
      <a data-nav="home" class="nav-link active" aria-current="page" href="/">
        <span data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          Inicio
        </span>
      </a>
    </li>

    <li class="nav-item">
      <a data-nav="about" class="nav-link">
        <span data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          Quienes Somos
        </span>
      </a>
    </li>

    <li class="nav-item">
      <a data-nav="services" class="nav-link" href="../OurServices.html">
        <span data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          Nuestros Servicios
        </span>
      </a>
    </li>

    <li class="nav-item">
      <a data-nav="OurTeam" class="nav-link">
        <span data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          Nuestro Equipo
        </span>
      </a>
    </li>

    <li class="nav-item">
      <a data-nav="contact" class="nav-link">
        <span data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          Contáctenos
        </span>
      </a>
    </li>

    <li class="nav-item">
      <a data-nav="AviationNews" class="nav-link">
        <span data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          Noticias de Aviación
        </span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">🇺🇸</a>
    </li>

  </ul>
</div>