<section class="aviation-news">
  <div class="maxWidth container-news">
    <h3 class="mt-5">NOTICIAS DE AVIACIÓN</h3>
    <p class="border-small"></p>
    <p class="text-news">
      Contamos con una publicación digital diaria de las principales 
      y más relevantes noticias de aviación.
    </p>
    <ul class="ul-news-links">
      <li>
        <a class="" href="https://news.flylinkers.com/" target="_blank" rel=”noopener noreferrer”>
          Flylinkers news
          <img src="./img/Flylinkers-news.png" alt="">
        </a>
      </li>
      <li>
        <a class="" href="https://aeronexllc.com/stocks.php" target="_blank" rel=”noopener noreferrer”>
          Aeronex LLC
          <img src="./img/Aeronex-LLC-2.png" alt="">
        </a>
      </li>
    </ul>
  </div>
</section>