<footer class="footer text-center text-lg-start" id="contact">

  <div class="maxWidth foter-container d-lg-flex justify-content-between">

    <div class="logo-links">
      <div class="logo">
        <img src="./img/logo_cargo.svg" alt="logo-aeronex"" style="border-radius: 3px;">
      </div>
  
      <div class="links-footer">
        <p>Para envíos de carga por medio de JetBlue</p>

        <p>Customer Portal Tracking <br>
          <a 
            href="https://b6-icargo.ibsplc.aero/icargoportal/portal/loginFlow"
            target="_blank" 
            rel="noopener noreferrer">
            https://b6-icargo.ibsplc.aero/icargoportal
          </a>
        </p>
  
        <p>For flight schedule, please visit <br>
          <a 
            href="https://www.jetblue.com/help/cargo" 
            target="_blank" 
            rel="noopener noreferrer">
              https://www.jetblue.com/help/cargo
          </a>
        </p>
      </div>
    </div>
  
    <div class="contact-data">
      <h5>INFORMACIÓN DE CONTACTO</h5>
      <p class="username">Soledad Espinosa</p>
  
      <div class="user-contact">
        <div class="tel data">
          <i class="bi bi-telephone-fill"></i>
          <a href="tel:+7867241635">786 724 1635</a>
        </div>
  
        <div class="mail data">
          <i class="bi bi-envelope-fill"></i>
          <a href="mailto:soledad@aeronexcargo.com">soledad@aeronexcargo.com</a>
        </div>
  
        <div class="social-networks">
          <p>SÍGUENOS</p>
          <a href=""><i class="bi bi-facebook me-1"></i></a>
          <a href=""><i class="bi bi-instagram ms-1"></i></a>
        </div>
      </div>
    </div>
  
    <div class="contact-form">
      <form action="" class="d-flex flex-column">
        <h3>CONTÁCTENOS</h3>
        <input type="text" placeholder="Nombre" required>
        <input type="email" name="" id="" placeholder="Email" required>
        <input type="tel" name="" id="" placeholder="Teléfono" required>
        <button type="submit">ENVIAR</button>
      </form>
    </div>
  </div>

  <div class="copy text-center" id="copyDate">
    Copyright <span>2023</span> | Todos los derechos reservados | Políticas de Privacidad | 
  </div>

</footer>
<script src="./js/all.js"></script>
<!-- <script type="text/javascript" src="./translateJs/translate.js" ></script> -->

<script type="text/javascript" src="./Gmaps/maps.js" ></script>
</body>
</html>
